---
import IndexPage from "src/layouts/IndexPage.astro";
import Pagination from "src/components/Pagination.astro";
import { sortPostsByDate } from "src/utils/sortPostsByDate";
import getPostsByYear from "src/utils/getPostsByYear";
import  {site} from "../../consts";
import dayjs from "dayjs";
import { getCollectionByName } from "../../utils/getCollectionByName";
import getUrl from "../../utils/getUrl";
export async function getStaticPaths({ paginate }) {
  let posts = await getCollectionByName("blog");
  posts = sortPostsByDate(posts);
  return paginate(posts, { pageSize: site.archivePageSize });
}
// 所有分页数据都将传递给 "page" 参数
const { page } = Astro.props;
let resultPosts = getPostsByYear(page.data);
---

<IndexPage>
  {
    Object.keys(resultPosts)
      .sort((a, b) => Number(b) - Number(a))
      .map((year) => (
        <div>
          <div class="text-2xl font-extrabold my-4">{year}</div>
          <ul>
            {resultPosts[year].map((post) => (
              <li style="list-style-type: disc;" class="ml-4 my-2">
                <a href={getUrl('/') + post.collection + '/' + post.slug}>
                  <span class="mr-4">
                    {dayjs(post.data.date).format("YYYY-MM-DD")}
                  </span>
                  <span class="hover:text-skin-active">
                  {post.data.title}
                  </span>
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
  }
  <Pagination
    currentPage={page.currentPage}
    totalPage={page.lastPage}
    prefixUrl={getUrl("/archive/")}
    url={page.slug}
  />
</IndexPage>
