---
import IndexPage from "@/layouts/IndexPage.astro";
import {site} from "@/consts";
import getPostsByYear from "@/utils/getPostsByYear";
import {sortPostsByDate} from "@/utils/sortPostsByDate";
import Pagination from "@/components/Pagination.astro";
import {getCollectionByName} from "@/utils/getCollectionByName";
import getUrl from "@/utils/getUrl";

import dayjs from "dayjs";
import {ceil, divide} from "lodash-es";

let posts = await getCollectionByName("blog");
let totalPage = ceil(divide(posts.length, site.archivePageSize));

let sortedPosts = sortPostsByDate(posts);
sortedPosts = sortedPosts.splice(0, site.archivePageSize);
let resultPosts = getPostsByYear(sortedPosts);
---

<IndexPage>
  {
    Object.keys(resultPosts)
      .sort((a, b) => Number(b) - Number(a))
      .map((year) => (
        <div>
          <div class="text-2xl font-extrabold my-4">{year}</div>
          <ul>
            {resultPosts[year].map((post) => (
              <li style="list-style-type: disc;" class="ml-4 my-2">
                <a href={getUrl('/') + post.collection + '/' + post.slug}>
                  <span class="mr-4">
                    {dayjs(post.data.date).format("YYYY-MM-DD")}
                  </span>
                  {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
  }
  <Pagination currentPage={1} totalPage={totalPage} prefixUrl={getUrl("/archive/")}/>
</IndexPage>
