---
import IndexPage from "src/layouts/IndexPage.astro";
import getUniqueTags from "src/utils/getUniqueTags";
import getPostsByTag from "src/utils/getPostsByTag";
import SearchTitle from "src/components/SearchTitle.astro";
import {formatDate} from "../../utils/formatDate";
import {sortPostsByDate} from "src/utils/sortPostsByDate";
import {getCollectionByName} from "../../utils/getCollectionByName";
import getUrl from "../../utils/getUrl";
export async function getStaticPaths() {
  const posts = await getCollectionByName("blog");
  //   过滤没有分类的文章，todo 后期可能会强制需要文章分类
  const tags = getUniqueTags(posts).filter((tag) => tag);
  return tags.map((tag) => {
    return {params: {tag,}, props: {tag,},};
  });
}
const {tag} = Astro.props;
let posts = await getCollectionByName("blog");
const tagPosts = getPostsByTag(posts, tag);
const resultPosts = sortPostsByDate(tagPosts);
---

<IndexPage>
  <SearchTitle label={tag}/>
  <ul class="text-skin-base">
    {
      resultPosts.map((post) => (
        <li style="list-style-type: disc;" class="ml-4 my-2">
          <a href={getUrl('/') + post.collection + '/' + post.slug}>
            <span class="mr-4">{formatDate(post.data.date)}</span>
            <span class="hover:text-skin-active">{post.data.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</IndexPage>
