---
import PostView from '../components/PostView.astro'
import IndexPage from '../layouts/IndexPage.astro'
import {getCollectionByName} from "../utils/getCollectionByName";
import {orderBySticky} from "../utils/orderBySticky";
import {site} from '../consts'
import {t} from '../i18n/utils'

let blogs = await getCollectionByName("blog");
let sortedPosts = await orderBySticky(blogs);
if (sortedPosts.length > site.indexPageSize) {
  sortedPosts = sortedPosts.splice(0, site.indexPageSize);
}
---

<IndexPage>
  {
    sortedPosts.map(blog =>
      <PostView blog={blog}></PostView>)
  }
  {
    blogs.length > site.indexPageSize && (
      <div class="text-center">
        <a class="px-4 border py-1 rounded-md  hover:text-skin-active" href="/blog/1">{t('home.moreArticles')}</a>
      </div>
    )
  }
</IndexPage>

