---
import '../styles/index.css'
import {site} from "../consts";
import UmamiAnalytics from '../components/UmamiAnalytics.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import BusuanziAnalytics from '../components/BusuanziAnalytics.astro';
import getUrl from "../utils/getUrl";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {title = site.title, description = site.description, mathjax = false, mermaid = false, ogImage:ogimage = ''} = Astro.props
let ogImage =  ogimage || new URL(Astro.url.pathname, Astro.site?.href).href;
---
<head>
  <!-- Global Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/svg+xml" href={getUrl(site.favicon)}>
  <meta name="generator" content={Astro.generator}>
  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL}>

  <!-- Primary Meta Tags -->
  <meta name="title" content={title}>
  <meta name="description" content={description}>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content={Astro.url}>
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={ogImage}>
  <!-- <meta property="og:image:alt" content={site.description}/> -->

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content={Astro.url}>
  <meta property="twitter:title" content={title}>
  <meta property="twitter:description" content={description}>
  <meta property="twitter:image" content={ogImage}>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="sitemap" href={getUrl("/sitemap-0.xml")}>
  <title>{title}</title>
  <script is:inline src={getUrl("/toggle-theme.js")}></script>
  {
    mathjax && <script async type="text/javascript" src=`${getUrl("/load-mathjax.js")}`></script>
  }

  {
    mermaid &&
    <script async type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/mermaid/10.9.0/mermaid.min.js"></script>
  }
  <GoogleAnalytics />
  <UmamiAnalytics />
  <BusuanziAnalytics/>
</head>
