---
import {site} from "@/consts";
import {t} from '@/i18n/utils'
import {formatDate} from "@/utils/formatDate.js";
const {title, date, url} = Astro.props;
---

<div class="border-l-4 my-4 p-4 border-l-skin-base bg-skin-card break-all">
  {title ?
    <div>{t('footer.articleTitle')}：{title}</div> : ''}
  {
    site.author ?
      <div>{t('footer.articleAuthor')}：{site.author}</div> : ''
  }

  {
    date ?
      <div>{t('footer.releaseTime')}：{formatDate(date)}</div> : ''
  }
  {
    site.url?   <div>
      {t('footer.originalLink')}：<a href={site.url + url} class="hover:text-skin-active">{site.url + url}</a>
    </div>: ''
  }
</div>
