---
import "../styles/donate.css";
import {donate} from "../consts";
---
<div class="mt-4">
  <div class="esa-sponsor">
    <div class="tip flex items-center justify-center my-4">
      {donate.tip}
    </div>
    <div class="flex items-center justify-center">
      <div id="alipay" class="border rounded-tl-lg rounded-bl-lg p-2">
        <img src="/alipay.svg" class="h-4" alt=""/>
      </div>
      <div id="wechatpay" class="border-t border-b p-2">
        <img src="/wechat.svg" class="h-4" alt=""/>
      </div>
      <a class="border rounded-tr-lg rounded-br-lg p-2" href={donate.paypalUrl} target="_blank">
        <img src="/paypal.svg" class="h-4" alt=""/>
      </a>
    </div>
    <div class="qrshow">
      <img src={donate.alipayQRCode} alt=""/>
    </div>
    <div class="qrshow">
      <img src={donate.wechatQRCode} alt=""/>
    </div>
  </div>
</div>

<script>
  import {donate} from "../consts";

  let qrDiv = document.getElementsByClassName("qrshow");
  let aliDiv = document.getElementById("alipay");
  let wechatDiv = document.getElementById("wechatpay");
  if (qrDiv) {
    if (aliDiv && donate.alipayQRCode) {
      aliDiv.addEventListener("mouseenter", () => {
        qrDiv[0].style.display = "block";
      });
      aliDiv.addEventListener("mouseleave", () => {
        qrDiv[0].style.display = "none";
      });
    }
    if (wechatDiv && donate.wechatQRCode) {
      wechatDiv.addEventListener("mouseenter", () => {
        qrDiv[1].style.display = "block";
      });
      wechatDiv.addEventListener("mouseleave", () => {
        qrDiv[1].style.display = "none";
      });
    }
  }
</script>
