---
const { name, avatar, description, url } = Astro.props;
---

<a
  class="flex items-center h-24 shadow rounded-lg hover:cursor-pointer bg-skin-card w-auto p-2"
  href={url}
  target="_blank"
>
  <img class="h-16 w-16 rounded m-2" src={avatar} alt="avatar" />
  <div
    style="width:calc(100% - 6em);height:60%"
    class="flex flex-col justify-around"
  >
    <div title={name} class="truncate font-bold">
      {name}
    </div>
    <div title={description} class="truncate text-sm">
      {description}
    </div>
  </div>
</a>
