---
import {getCollectionByName} from "../utils/getCollectionByName";
import getUniqueTags from "../utils/getUniqueTags";
import getCountByCategory from "../utils/getCountByCategory";
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro'
import MenuIcon from './MenuIcon.astro'
import {site, categories, infoLinks} from '../consts';
import AsideIcon from "./SidebarIcon.astro";
import {t} from "../i18n/utils";
import getCountByTagName from "../utils/getCountByTagName";
import getUrl from "../utils/getUrl";
const blogs = await getCollectionByName('blog')
let tagArr = getUniqueTags(blogs);
let categoryCount = getCountByCategory(blogs);
let tagCount = getCountByTagName(blogs);
---

<header class="fixed top-0 w-full bg-skin-fill text-skin-base z-10">
  <div class="flex items-center justify-between container">
    <div class="block xl:hidden">
      <MenuIcon></MenuIcon>
    </div>
    <a class="text-2xl p-4" href={getUrl("/")}>{site.title}</a>
    <div class="flex items-center">
      <div class="hidden xl:block">
        <div class="flex items-center space-x-5 pr-4">
          {
            categories.map(category => (
              <HeaderLink href={category.href} icon={category.iconClass} target={category.target ? category.target : '_self'} children={category.children ? category.children : []}>{category.name}</HeaderLink>
            ))
          }
        </div>
      </div>
      <ThemeIcon></ThemeIcon>
      <div class="block xl:hidden">
        <AsideIcon></AsideIcon>
      </div>
    </div>
  </div>
  <div id="mobile-menu" class="hidden text-center overflow-y-auto pb-8" style="height: calc(100vh - 64px)">
    {
      categories.map((category) => (
        <div class="py-2">
          <a class=" hover:text-skin-active" href={getUrl(category.href)}>
            <i class={category.iconClass}/>
            <span>{category.name}</span>
          </a>
          {
            category.children && category.children.length > 0 &&
            <div class="divider-horizontal"></div>
          }
          <div class="space-y-4 text-sm">
            {
              category.children && category.children.map(sub =>
                (
                  <a class="block hover:text-skin-active" href={getUrl(sub.href)}>
                    <i class={sub.iconClass}/>
                    <span>{sub.name}</span>
                  </a>
                )
              )
            }
          </div>
        </div>
      ))
    }
  </div>
  <div id="personal-info" class="hidden break-all overflow-y-auto pb-8" style="height: calc(100vh - 64px)">
    <img class="avatar my-4 mx-auto" src={getUrl(site.avatar)} alt="avatar"/>
    <div class="mb-2 text-center">{site.motto}</div>
    <div class="flex items-center justify-center flex-wrap">
      {
        infoLinks.map((infoItem) => (
          <a title={infoItem.name} href={infoItem.outlink} target="_blank">
            <i class={infoItem.icon + " text-2xl mr-2 cursor-pointer"}/>
          </a>
        ))
      }
    </div>
    <div class="divider-horizontal-mini"></div>
    <div class="text-center">
      {
        Object.keys(categoryCount).length > 0 && (
          <div>
            <i class="ri-folder-3-line menu-icon"/>{t('sidebar.categories')}
          </div>
        )
      }
      {
        Object.keys(categoryCount).map((category) => (
          <div class="my-2 break-all truncate">
            <a class="hover:text-skin-active" title={category + " (" + categoryCount[category] + ")"} href={getUrl("/category/") + category}>
              {category + " (" + categoryCount[category] + ")"}
            </a>
          </div>

        ))
      }
      {
        tagArr.length > 0 && (
          <div class="divider-horizontal-mini"></div>
          <div class="text-center">
            <i class="ri-price-tag-3-line menu-icon"/>
            {t('sidebar.tags')}
          </div>
        )
      }
      {
        tagArr &&
        tagArr.map((tag) => (
          <div class="my-2 break-all truncate">
            <a class="hover:text-skin-active my-2" title={tag} href={getUrl("/tags/") + tag}>{tag + " (" + tagCount[tag] + ")"}</a>
          </div>
        ))
      }
    </div>

  </div>
</header>
