---
import dayjs from "dayjs";
import tz from "dayjs/plugin/timezone";
import _ from "lodash";
import { dealLabel } from "src/utils/dealLabel";
import { comment as commentConfig } from "../config.yml";
dayjs.extend(tz);
dayjs.tz.guess(); // 猜测用户时区
const {
  title,
  tags,
  date,
  update,
  category,
  url,
  isSticky = null,
  pageType = "page",
} = Astro.props;
const postCreateDate = date ? dayjs(date).format("YYYY-MM-DD") : false;
const postUpdateDate = update ? dayjs(update).format("YYYY-MM-DD") : false;
let tagArr = dealLabel(tags);
let categories = dealLabel(category);
---

<div class="mb-2 text-skin-base">
  {
    pageType === "post" && (
      <button
        id="history-btn"
        class="flex items-center text-md mb-4 cursor-pointer hover:text-skin-active outline-none"
        style="background-color: inherit;"
        onclick="history.back()"
      >
        <i class="ri-arrow-left-line mr-2" />
        <span style="word-spacing: 4em;">返回</span>
      </button>
    )
  }
  <!-- title -->
  <div class="flex items-center mb-2">
    {isSticky && pageType === "page" && <div class="post-sticky">置顶</div>}
    {
      pageType === "page" ? (
        <a
          class="flex text-xl underline-offset-8 decoration-skin-base decoration-dashed hover:underline hover:decoration-sky-500 font-bold"
          href={url}
        >
          {title}
        </a>
      ) : (
        <span class="text-xl select-auto font-bold">{title}</span>
      )
    }
  </div>

  <div class="flex flex-wrap items-center justify-start mb-1 text-sm">
    <!-- date -->
    {
      postCreateDate && (
        <div class="flex items-center cursor-pointer">
          <i class="ri-calendar-2-fill mr-1" />
          <div class="tag">{postCreateDate}</div>
        </div>
      )
    }

    <!-- category -->
    {
      categories.map((categoryName, categoryNameIndex) => (
        <div class="flex items-center cursor-pointer">
          <div class="divider-vertical" />
          <i class="ri-folder-2-fill mr-1" />
          <a href={"/category/" + categoryName}>{categoryName}</a>
        </div>
      ))
    }

    <!-- tag -->
    {
      tagArr.map((tagName, tagIndex) => (
        <div class="flex items-center cursor-pointer">
          <div class="divider-vertical" />
          <i class="ri-price-tag-3-fill mr-1" />
          <a href={"/tags/" + tagName}>{tagName}</a>
        </div>
      ))
    }

    {
      pageType === "post" && commentConfig.enable && commentConfig.pageview && (
        <div class="flex items-center">
          <div class="divider-vertical" />
          <a href="#" title="当前页面阅读量" class="flex items-center">
            <i class="ri-fire-fill mr-1" />
            <span class="waline-pageview-count" data-path={url} />
          </a>
          <div class="divider-vertical" />
          <a href="#waline" title="当前页面评论数" class="flex items-center">
            <i class="ri-discuss-fill mr-1" />
            <span class="waline-comment-count" data-path={url} />
          </a>
        </div>
      )
    }

    <!-- 最后更新 -->
    {
      postUpdateDate && (
        <div class=" hidden md:block">
          <div class="divider-vertical" />
          最后更新：{postUpdateDate}
        </div>
      )
    }
  </div>
</div>

<script>
  var historyBtn = document.getElementById("history-btn");
  if (historyBtn) {
    if (window.history.length > 1) {
      historyBtn.classList.remove("hidden");
      historyBtn.classList.add("block");
    } else {
      historyBtn.classList.remove("block");
      historyBtn.classList.add("hidden");
    }
  }
</script>
