---
import {formatDate} from "../utils/formatDate";
import {dealLabel} from "../utils/dealLabel";
import {t} from '../i18n/utils'
const {title, date, slug, category, tags, sticky = false, draft = false} = Astro.props
import getUrl from "../utils/getUrl";
---

<div class="text-skin-base">
  <!-- title -->
  <div class="flex items-center">
    {sticky > 0 &&
      <div class="post-sticky select-none">{t('home.sticky')}</div>}
    <a class="flex text-xl underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500 font-bold" href={slug}>
      {title}
    </a>
  </div>

  <div class="flex flex-wrap items-center my-2">
    <!--date -->
    {
      date &&
      <div class="mr-2"><i class="ri-calendar-2-fill mr-1"/>{formatDate(date)}</div>
    }

    <!-- draft -->
    {
      draft &&
      <div class="mr-2"><i class="ri-git-pr-draft-line mr-1"/>{t('title.draft')}</div>
    }

    <!-- category -->
    {
      category && dealLabel(category).filter(item => item !== 'uncategorized').map((categoryName) =>
        <a href={getUrl("/category/") + categoryName} class="text-wrap break-all hover:text-skin-active mr-2">
          <i class="ri-folder-3-line"/>
          {categoryName}
        </a>
      )
    }

    <!-- tag -->
    {
      tags && dealLabel(tags).map((tagName) =>
        <a href={getUrl("/tags/") + tagName} class="text-wrap break-all hover:text-skin-active mr-2">
          <i class="ri-hashtag"/>{tagName}</a>
      )
    }
  </div>
</div>
